@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Azeret Mono", monospace;
    width: 100%;
    height: 5245px; 
}

.tms{
   min-width: 1440px;
    height: 652px;
    background-size: cover;
    margin-top: 100px;    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tms-one{
    margin-bottom: 32px;
}

.tms-three{
    width: 998px;
    height: 136px;
    color: #000000;
    text-align: center;
    margin-bottom: 24px;
    font-family: "Azeret Mono";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 141.667% */
}

.tms-four{
    width: 852px;
    height: 52px;
    color: #000000;
    text-align: center;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.tms-five p{
    color: #FFF;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    font-family: "Azeret Mono";
    font-size: 15px;
    font-style: normal;
}
.tms-five{
    width: 195px;
    height: 50px;
    display: flex;
    margin-bottom: 10px;  
    border-radius: 8px;
    background: #0D1321;    padding: 21px 24px;
    justify-content: center;
    align-items: center;
}
               /* sm */
    

.sm{
    display: flex;
    flex-direction: column ;
    justify-content: center;
width: 1140px;
height: 1400px;
padding: 80px 97px;
align-items: center;
gap: 10px;
border: 2px solid red;
margin: 0 auto;
margin-top: 70px;
padding: 130px;
}
.sm-one{
    text-align: center;
    
}
.sm-two{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex;
}
.sm-three{
    width: 40%;
    height: 240fx;
     text-align: left;
    justify-content: space-between;
    align-items: center;
    align-self:stretch ;
    margin-right: 48px;

}
.sm-four{
    width: 30%;
    height: 240px;
    display: flex;
    padding: 3.767px 13.664px 19.221px 0.941px;
    align-items: center;
    flex-shrink: 0;
    padding-left: 110px;
}