@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    font-family: "Azeret Mono", monospace;
    width: 100%;

}

.tms{
   min-width: 1440px;
    height: 652px;
    background-size: cover;
    margin-top: 100px;    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tms-one{
    margin-bottom: 32px;
}

.tms-three{
    width: 998px;
    height: 136px;
    color: #000000;
    text-align: center;
    margin-bottom: 24px;
    font-family: "Azeret Mono";
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 68px; /* 141.667% */
}

.tms-four{
    width: 852px;
    height: 52px;
    color: #000000;
    text-align: center;
    line-height: 26px; /* 162.5% */
    margin-bottom: 32px;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.tms-five a{
    text-decoration: none;
}
.tms-five p{
    color: #FFF;
    text-align: center;
    font-weight: 400;
    line-height: normal;
    font-family: "Azeret Mono";
    font-size: 15px;
    font-style: normal;
}
.tms-five{
    width: 195px;
    height: 50px;
    display: flex;
    margin-bottom: 10px;  
    border-radius: 8px;
    background: #0D1321;    padding: 21px 24px;
    justify-content: center;
    align-items: center;
}
               /* sm */
    

.sm{

    width: 1140px;
   height: 1400px;
    padding: 80px 97px;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 130px;
    display: flex;
    flex-direction: column ;
    justify-content: center;
}
.sm-one{
    text-align: center;
    
}
.sm-two{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex;
}
.sm-three{
    justify-content: space-between;
    align-items: center;
    align-self:stretch ;
    margin-right: 48px;
    width: 40%;
    height: 240fx;
     text-align: left;

}





.sm{
  
    width: 1140px;
    height: 1393px;
    padding: 80px 97px;
    margin: 0 auto;
    margin-top: 74px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.sm-1{
    text-align: center;
    margin-bottom: 48px;
}

.sm-1 h3{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 24px;
    font-size: 32px;

}

.sm-1 p{
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.sm-3{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 48px;
}

.sm-4{
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.sm-4 h3{
    width: 390px;
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.sm-4 p{
    width: 468px;
    color: #0D1321;
    line-height: 26px;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.sm-4 button{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
    align-items: center;

}
.sm-5{
    display: flex;
    padding: 3.767px 13.664px 19.221px 0.941px;
    align-items: center;
    width: 274.169px;
    height: 240px;
    flex-shrink: 0;
}

.sm-6{

    display: flex;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    padding: 48px;
}

.sm-8{
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.sm-8 h3{
    width: 477px;
    color: rgba(13, 19, 33, 0.70);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    font-family: "Azeret Mono";
  
}
.sm-8 p{
    width: 468px;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.sm-8 button{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}


.sm-7{
    width: 240px;
    height: 240px;
}




.sm-9{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 48px;

}

.sm-10{
    display: flex;
    width: 477px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.sm-10 h3{
    width: 390px;
    color: rgba(13, 19, 33, 0.70);
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}
.sm-10 p{
    width: 468px;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.sm-10 button{
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #0D1321;
    opacity: 0.7;
}
.sm-11{
    display: flex;
    width: 274.169px;
    height: 240px;
    padding: 3.767px 13.664px 19.221px 0.941px;
    align-items: center;
    flex-shrink: 0;
}


.yt{
    display: flex;
    width: 1140px;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;


}


.yt-1{
    display: flex;
    width: 852px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-style: normal;
    margin-bottom: 48px;
}

.yt-1 h1{
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
}

.yt-1 p{

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.video iframe{
    height: 550px;
    align-self: stretch;
    border-radius: 16px;

}
.video{
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid rgba(13, 19, 33, 0.20);
}

.tt{
    display: flex;
    width: 1140px;
    flex-direction: column;
    align-items: flex-start;
    gap: 111px;
    margin: 0 auto;
    margin: 111px;
}

.ct{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}

.ct-1{
    display: flex;
    width: 946px;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.ct-1 h1{
    align-self: stretch;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.ct-1 p{
    align-self: stretch;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}


.html-css-js{
    display: flex;
    align-items: center;
    gap: 24px;
    align-self: stretch; 
}

.html,.css,.js{
    display: flex;
    width: 364px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
}
.html{
    background: rgba(255, 76, 30, 0.05);
}
.css{

    background: rgba(0, 76, 232, 0.05);
}
.js{

background: rgba(255, 223, 0, 0.05);
}
.html-css-js-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.html-css-js-2 img{
    width: 56px;
    height: 56px;
}
.html-css-js-2 h1{
    align-self: stretch;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: 36px; /* 150% */
}
.html-css-js-2 p{
    align-self: stretch;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}
.html-css-js-2 h6{
    align-self: stretch;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}

.do{
    display: flex;
    width: 1140px;
    padding: 64px 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), url(assets/handshake.jpg) lightgray 50% / cover no-repeat;
    margin: 0 auto;
    margin-top: 49px;
}
.do-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    align-self: stretch;


}
.do-2 h1{
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 112.5% */
}
.do-2 p{
    width: 606px;
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}

.inp{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.do-2 #feedback{
    display: flex;
    width: 548px;
    padding: 19px 20px;
    align-items: center;
    gap: 10px;

    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: #FFF;

    color: rgba(13, 19, 33, 0.40);
    text-align: left;
    font-family: "Azeret Mono";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.do-2 button{
    display: flex;
    width: 120px;
    padding: 17px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #FFF;

    flex: 1 0 0;
    color: #0D1321;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


#about{
    display: flex;
    width: 1440px;
    padding: 32px 150px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    margin: 0 auto;
}
.about-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.about-1 p{
    display: flex;
    width: 456px;
    align-items: center;
    gap: 16px;
}

.about-1 ul {
    display: flex;
    align-items: center;
    gap: 24px;
}

.about-1 li{
    width: 37.007px;
    height: 36px;
}